<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <!--<add name="AddBookDbContext" 
         providerName="System.Data.SqlClient"
         connectionString="server=.\SQLEXPRESS;
                           database=AddressBook;
                           trusted_connection=true"/>-->

    <add name="AddBookDbContext"
         providerName="System.Data.SqlClient"
         connectionString="server=VASILIY-PC;
                           database=AddressBook;
                           trusted_connection=true"/>

  </connectionStrings>
  <!-- Во время развертывания проекта библиотеки служб содержимое файла конфигурации необходимо добавить к файлу 
  app.config на узле. Файлы конфигурации для библиотек не поддерживаются System.Configuration. -->
  <system.serviceModel>
    <services>
      <service name="Address.Service.GetFind.AddBookGetFindService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/"/>
          </baseAddresses>
        </host>
        <endpoint address="Address.Service/AddBookGetFindService/"
                  binding="basicHttpBinding"
                  contract="Address.Service.GetFind.IAddressBookGetFind"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"
                           httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>